.Card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 3px black solid;
    border-radius: 10px;
    overflow: hidden;  
    background-color: #fff;
    
    
}
.Card .Conteudo{
    flex: 1;
    padding: 15px 0px;
    background-color: black;
    color: white;
}