#RAILS 

# Ignore bundler config.
/server/.bundle

# Ignore all logfiles and tempfiles.
/server/log/*
/server/tmp/*
/server/log/.keep
/server/tmp/.keep

# Ignore uploaded files in development.
/server/storage/*
/server/storage/.keep

/server/public/assets
/server/.byebug_history

# Ignore master key for decrypting credentials and more.
/server/config/master.key

/server/public/packs
/server/public/packs-test
/server/node_modules
/server/yarn-error.log
/server/yarn-debug.log*
/server/.yarn-integrity

/log/*
/tmp/*

# REACT
/client/node_modules
/client/src/Noticia/node_modules