[submodule "client"]
	path = client
	url = git@github.com:JoaoGabrielOliveira/pokemon-client-react.git
[submodule "spring-api"]
	path = spring-api
	url = git@github.com:JoaoGabrielOliveira/pokemon-api-spring.git
