.navr{
    background-image: linear-gradient(to right,#FF5247    ,	   #FFFD89);
    padding: 4.2pc;
   
    
}
.MEEN{
    margin-left: 100px;
}
.boder{
    margin:-5px 15pc -5px 15pc;
    padding-top: -60pc;
    display: flex;
    font-family: fantasy;
    background-color: white;
    border-radius: 9px;
    width: 70pc;
    height: 50pc;
    
   
}


input{
    
    text-align: center;
}
.control{
    
    margin-left: -10px;
}

.CN{
    padding-top: 90px;
    padding-left: 70px ;
}
.CE{
    padding-top: 90px;
    padding-left: 70px ;
}
.CA{
    
    padding-top: 90px;
    padding-left: 70px ;
}

.Msg{
    display: block;
    margin-top: -370px;
    margin-left: 430px ;

}
 .Name{
     border: rgba(86, 86, 97, 0.459) 1px solid;
     border-radius: 5px;
     padding-left: -20px;
     box-shadow: rgba(93, 102, 102, 0.295) 0px 10px 6px;
 }
 textarea{
     border-radius: 9px;
     width: 500px;
     height: 300px;
    }
    .enviar{
        display: inline-flex;
        padding: 2px 400px 2px 580px;
        background-color: rgba(255, 0, 0, 0.356);
       
    }

    .enviar:hover{
        border: red 2px solid;
        
        

    }
    .envia{
        text-align: center;
        padding: 90%;
    }