
.navbar{
  background-color:#fff;
  display: flex;
    
    
  }
  .title{
    padding-top: -20px;
    padding-left: 10%;
    float: left;
    font-size: 50px;
    font-family: fantasy;
  }
  .tex{
    display: inline-flex;
    color: rgb(20, 20, 16);
  margin-top: 20px;
  padding-left: 10%;
  font-size: 50px;
  font-family: fantasy;
  text-shadow: rgb(235, 183, 12) 0px 4px;
  }
  
  
  .menu{
    padding-left: 690px;
    margin-top: 30px;
    position: relative;
    
  }
  
  .menu a{
  padding: 20px;
  text-decoration: none;
  flex-grow: 1;
  transition: all .1s;
  font-size: 25px;
  color:rgb(20, 16, 16);
  }
  
  
  
  ul li{
  text-decoration: none;
  list-style: none;
  position: relative;
  display:inline-block;
    
  }
  
  
  
  
  
  .home{

    font-family: fantasy;
  }
  .home :hover{
    border: aqua 2px solid;
    border-radius: 7px;
 
  }
  .Pokedex{
    font-family: fantasy;
  }
  .Pokedex :hover{
   border-radius: 7px;
   border: rgb(251, 255, 0) 2px solid;
  
  
  }
  .Noticia{
    font-family: fantasy;
  
  }
  .Noticia :hover{
    border-radius: 7px;
    border: rgb(43, 255, 0) 2px solid;
   
  
  }
  
  
  .Notacao{
  
    font-family: fantasy;
    
  }
  .Notacao :hover{
    border-radius: 7px;
    border: rgb(255, 153, 0) 2px solid;
   
  }
  
  
  
.Card{
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 3px black solid;
    border-radius: 10px;
    overflow: hidden;  
    background-color: #fff;
    
}
.Card .Conteudo{
    flex: 1;
    padding: 15px 0px;
    background-color: black;
    color: white;   

}
h5{
    background-color: rgba(27, 10, 10, 0.103);
    color:white;
    padding: 5px 0px;

}
