.App{
    overflow:none;
}
#topo1{
    padding: 100px;
    background-color: rgba(247, 234, 112, 0.575);
}

.titulo{
    margin-top: -90px;
    font-family: fantasy;
    float: right;
    font-size: 50px;
    margin-right:30% ;

}
.btn{
    font-family: fantasy;
    margin-left: 50%;
    font-size: 20px;
    padding-bottom: 20px;
    font-style: none;
}
.btn :hover{
    border: solid 2px rgba(216, 95, 14, 0.048);
    border-radius: 10px;
    background-color: rgb(255, 145, 0);
    color: white;
    padding: 10px;
    
}
.img{
    margin-left: 400px;
}
.text{
    font-size: 25px;
    padding-top: 80px;
    text-align: center;
    padding-bottom: 50px;
}



#topo2{
  padding: 100px;
  background-color: rgb(243, 155, 155)   ;
}
.poke{
    border: 2px solid rgb(216, 19, 19);
    background-color: white;
    padding: 200px;
    
}
.img2{
 
    margin-left: -50px;
    margin-top: -120px;
    
  
}
.tekst{
    font-size: 23px;
 margin-left:  50%;
 margin-top: -38%;


}
.titu{
    text-align: center;
    font-size: 40px;
    align-items: center;
  padding-left: 130px;
    
}

.btn1 .btn{
    font-family: fantasy;
    margin-left: 70%;
    font-size: 20px;
    padding: 30px;
    padding-bottom: 20px;
    font-style: none;
}
.btn1 .btn :hover{
    border: solid 3px rgba(47, 47, 48, 0.055);
    border-radius: 10px;
    background-color: rgb(230, 139, 139);
    color: white;
    padding: 10px;
    
}

.New{
    padding: 100px;
}
.Game{
    display: flex;
    flex-direction: column;
    flex: 50;
    margin: 20px;
    border: 3px rgb(92, 107, 241) solid;
    border-radius: 10px;
    overflow: none;  
    background-color: rgb(255, 255, 255);
    
}
.CardN{
    display: flex;
    flex-direction: column;
    flex: 50;
    margin: 20px;
    border: 3px rgb(248, 51, 16) solid;
    border-radius: 10px;
    overflow: none;  
    background-color: rgb(255, 255, 255);

}
 .conteu{
    flex: 1;
    padding: 15px ;
    
    color: rgb(12, 11, 11);   
    font-size: 20px;

}
 .TiT{
    flex: 50;
    margin: 0px;
    border: 3px rgba(209, 177, 177, 0) solid;
    border-radius: 1px;
    overflow: hidden;  
    background-color: rgb(124, 143, 226);
    font-size: 21px;
    
}
img{
    
    border-radius: 10px;
    
}
.button{
    font-size: 20px;
    text-align: center;
    font-family:fantasy;
    color: black;
    overflow:none;
    text-decoration: none;
}
button{
    border-radius: 9px;
    padding: 9px;
    border-style: none;
    background-color: rgba(0, 0, 0, 0.534);
    color: white;

    box-shadow: rgba(82, 90, 90, 0.233) 0px 0px 20px;
}
.TN{
    font-size: 50px;
    padding: 20px;
    font-family: monospace;
    text-align: center;
}