
#Noticia span{
    display: flex;
    padding-top: 10px;
}

.divisorG
{
    margin-left: 730px;
    font-family: fantasy;
}

.divisorG h3 
{
    font-weight: bold;
    font-size: 2.3rem;
}

.divisor
{
    font-family: fantasy;
    margin-left: 630px;
    font-size: 40px;
}


.tex
{
    display: inline-flex;
    color: rgb(20, 20, 16);
    margin-top: 20px;
    padding-left: 10%;
    font-size: 50px;
    font-family: fantasy;
    text-shadow: rgb(235, 183, 12) 0px 4px;
}

ul li{
text-decoration: none;
list-style: none;
position: relative;
display:inline-block;

}

.home{
    font-family: fantasy;
}
.home :hover{
    border: aqua 2px solid;
    border-radius: 7px;
}
.Pokedex{
    font-family: fantasy;
}
.Pokedex :hover{
    border-radius: 7px;
    border: rgb(251, 255, 0) 2px solid;
}

.Noticia{
    font-family: fantasy;
}
.Noticia :hover{
    border-radius: 7px;
    border: rgb(43, 255, 0) 2px solid;
}


.Notacao{
    font-family: fantasy;
}
.Notacao :hover{
    border-radius: 7px;
    border: rgb(255, 153, 0) 2px solid;
}
